{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" id="main" style="height: 50vh">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Error &nbsp;| &nbsp;</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc" style="margin-top: 10px">{{error}}</h2>
        </div>
    </div>
    <div class="error-actions" style="margin-top: -150px">
        <a href="/tracks" class="btn btn-link btn-lg" style="text-decoration: unset; font-weight: 500">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
    </div>
{% endblock %}