{% extends "base.html" %}

{% block content %}
    <p>-------------------------------------------------------------------------------------------------------------</p>
    <h6>List top 5 popular tracks of a randomly selected artist of selected according to Music Genre Type</h6>
    <p>-------------------------------------------------------------------------------------------------------------</p>
    <p>
    <p>Please, enter an available genre type</p>
    <form action="/tracks" method="get">
        <label>
            <input type="text" name="genre" placeholder="Enter genre type"/>
        </label>
        <button type="submit">Search</button>
    </form>
    <div class="form-group">
        <p>
        <br>
        <div id="content"></div>
        <p>Available Genre Types are listed below:</p>
        <div class="btn-group-vertical" role="group" aria-label="First group">
            {% for genre in genre_list %}
                <a href="/tracks/{{genre}}" class="btn btn-light">{{genre}}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}