{% extends "base.html" %}

{% block nav %}
    <a class="navbar-brand" href="/tracks/{{genre}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
        </svg>
    </a>
{% endblock %}

{% block content %}
    <h2>Genre: {{genre}}</h2>
    <br>
    <h6>Listing top 5 popular Spotify tracks of a randomly selected artist</h6>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Artist</th>
            <th scope="col">Track</th>
            <th scope="col">Release Date</th>
        </tr>
        </thead>
        <tbody>
        {% for track in content %}
            <tr style="height:400%">
                <th scope="row" class="col-1"><img src={{track['album_image_url']}} alt="..."  class="img-thumbnail"></th>
                <td>{{track['artist']}}</td>
                <td>{{track['track']}}</td>
                <td>{{track['release_date']}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}